
{{!-- /app/clients/template.hbs --}}

<div class="row page-header">
  <div class="col-xs-3">
    <h2>Clients</h2>
  </div>
  <div class="col xs-3 pull-right">
    <button type="button" class="btn btn-success">Add New Client</button>
  </div>
</div>

<table class="table table-hover css-serial">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Created At</th>
      <th>Projects</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
    <tr>
      <!--intentionally left blank-->
      <td class="text-bold"></td>
      <td>{{companyName}}</td>
      <td>{{email}}</td>
      <td>{{createdAt}}</td>
      <td>{{totalProjects}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>