
{{!-- /app/project/template.hbs --}}
<div class="row page-header">
  <div class="col-xs-3">
    <h2>Project Name</h2>
  </div>
  <div class="col xs-3 pull-right">
    <button type="button" class="btn btn-success">Edit</button>
    <button type="button" class="btn btn-danger">Delete</button>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <dl class="dl-horizontal">
      <dt>Project Name:</dt>
      <dd>projectName</dd>
      <hr>
      <dt>Project Type:</dt>
      <dd>projectType</dd>
      <hr>
      <dt>Amount:</dt>
      <dd>amount</dd>
      <hr>
    </dl>
  </div>

  {{!-- This will apper when user click on edit button --}}
  <div class="col-md-6 col-md-offset-1">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="projectName" class="col-sm-3 control-label">Project Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Project Name">
        </div>
      </div>
      <div class="form-group">
        <label for="projectType" class="col-sm-3 control-label">Project Type</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Project Type">
        </div>
      </div>
      <div class="form-group">
        <label for="amount" class="col-sm-3 control-label">Amount</label>
        <div class="col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>

</div>