
{{!-- /app/templates/application.hbs --}}
<h2 id='title'>Welcome to Ember.js</h2>

<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

{{outlet}}
