
{{!-- /app/templates/application.hbs --}}

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' classNames="navbar-brand"}}SCRUD{{/link-to}}
    </div>

    <ul class="nav navbar-nav navbar-right">
      {{#link-to 'clients' tagName='li'}}<a href="#">Clients</a>{{/link-to}}
      {{#link-to 'projects' tagName='li'}}<a href="#">Projects</a>{{/link-to}}
      {{#link-to 'employees' tagName='li'}}<a href="#">Employees</a>{{/link-to}}
    </ul>
  </div>
</nav>

<div class="container">
<h2 id='title'>Welcome to Ember.js</h2>
  {{outlet}}
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'clients'}}Clients{{/link-to}}</li>
      <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
      <li>{{#link-to 'employees'}}Employees{{/link-to}}</li>
    </ul>
  </div>
</nav>
