
{{!-- /app/templates/application.hbs --}}

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SCRUD</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Clients</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Employees</a></li>
    </ul>
  </div>
</nav>

<div class="container">
<h2 id='title'>Welcome to Ember.js</h2>
  {{outlet}}
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="#">Clients</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Employees</a></li>
    </ul>
  </div>
</nav>
